<header>
  <section class="hero has-background-dark">
    <div class="hero-body">
      <div class="is-flex is-align-items-center is-justify-content-center">
        <img class="mx-2" src="../../../assets/images/ak-brand.png" />
        <div>
          <p class="title mb-0 is-size-4-mobile has-text-light">
            Full Stack Web Developer
          </p>
          <p class="has-text-primary">.Net | Angular | React | Ruby on Rails</p>
        </div>
      </div>
    </div>
  </section>
</header>
