<section class="hero">
  <div class="hero-body">
    <img src="../../../assets/images/ak-brand.png" />
    <p class="title mb-1 is-size-4-mobile">Full Stack Web Developer</p>
    <code class="has-text-primary">C# | Angular | React</code>
  </div>
</section>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="../../../assets/images/me.jpg" alt="Image" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Hi</strong><small>,</small>
          <br />
          This site is under construction.
        </p>
      </div>
    </div>
  </article>
</div>
