<h3 class="title">Projects on Github</h3>

<div *ngFor="let project of projects">
  <div class="box mb-1" *ngIf="project?.language">
    <a href="{{ project.html_url }}" target="#blank">
      <section
        class="is-flex is-align-items-center is-justify-content-space-between"
      >
        <span class="has-text-weight-semibold">{{ project.name }}</span>
        <app-code-tag language="{{ project.language }}"></app-code-tag>
      </section>
    </a>
    <section class="is-flex is-align-items-center mt-2">
      <div class="is-family-monospace is-size-7">{{ project.clone_url }}</div>
      <a class="mx-2 icon" (click)="copyUrlToClipBoard(project.clone_url)">
        <i class="fa fa-clone"></i>
      </a>
    </section>
  </div>
</div>

<p class="pb-6"> </p>
