<h3 class="title">Projects on Github</h3>

<div *ngIf="error" class="message is-danger">
  <div class="message-body">
    <div class="is-size-4">{{ error }}</div>
  </div>
</div>

<div *ngIf="loading" class="p-5">
  <progress class="progress is-medium is-dark" max="100">30%</progress>
</div>

<div *ngFor="let project of projects">
  <div class="box mb-1" *ngIf="project?.language">
    <a href="{{ project.html_url }}" target="#blank">
      <section
        class="is-flex is-align-items-center is-justify-content-space-between"
      >
        <div class="has-text-weight-semibold">{{ project.name }}</div>
        <div>
          <span
            class="mr-1"
            *ngFor="let language of project.languages | keyvalue"
          >
            <app-code-tag language="{{ language.key }}"></app-code-tag>
          </span>
        </div>
      </section>
    </a>
    <section class="is-flex is-align-items-center mt-2">
      <div class="is-family-monospace is-size-7">{{ project.clone_url }}</div>
      <a class="mx-2 icon" (click)="copyUrlToClipBoard(project.clone_url)">
        <i class="fa fa-clone"></i>
      </a>
    </section>
  </div>
</div>

<p class="pb-6"> </p>
